paleta{
    color:#ffd6ff;
    color:#966b9d;
    color:#cfc0bd;
    color:#b38d97;
    color:#c4b7cb;
}

body{
    background: #ffff;
    font-family: "Vesper Libre", serif;
}

.navbar-brand{
    margin-right: 43%;
    font-size: 20px;
}

.nav-item{
    margin-left: 10px;
    font-size: 15px;
}

.container-fluid{
    margin:0%;
}


.banner_titulo{
    font-size: 30px;
    /*margin-left: 700px;*/
    margin-top: 150px;
}

.avatar{
    width: 200px;
    margin-top: 70px;
    margin-left: 400px;
}

.subtitulo{
    font-size: 20px;
}

.sobre{
    width: 600px;
    margin-left: 420px;
    margin-right:150px;
    margin-top: 300px;
}

.habilidades{
    width: 600px;
    margin-top: 100px;
    margin-right:150px;
    margin-left: 420px;
    color: #776780;
}

h2{
    text-align: center;
}



