paleta{
    color:#ffd6ff;
    color:#966b9d;
    color:#cfc0bd;
    color:#b38d97;
    color:#c4b7cb;
}

body{
    background: #ffff;
    font-family: "Vesper Libre", serif;
}

.navbar{
    padding: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #e93ce9;  /* Cor de fundo do menu */
    box-shadow: 0 4px 6px #ffd6ff /* Sombra abaixo do menu */
    padding: 10px 20px; /* Espaçamento interno do menu */
}

.container-fluid,header{
    background-color:#e0d2e0;
    border-radius: 10px;
}
.navbar-brand{
    margin-right: 43%;
    font-size: 20px;
    z-index: 1000;-
}

.nav-item{
    margin-left: 10px;
    font-size: 15px;
}

.container-fluid{
    margin:0%;
    
}

section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 15%;
  }

  .bannertexto{
    text-align: left;
    color: #966b9d;
    padding-top: 15%;
  }
  
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      align-items: center; 
    }
    .col {
      text-align: center; 
    }
    .icon {
      margin-bottom: 20px; 
    }
  }

.sobre{
    width: 500px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 300px;
}

.card-text{
    font-size: 18px;
}

.habilidades{
    width: 550px;
    margin-top: 100px;
    margin-right:auto;
    margin-left: auto;
    color: #776780;
}

.progress-bar{
    background-color: #966b9d;
}

h2{
    text-align: center;
    color: #966b9d;
}

.titulos{
    text-align: center;
    /*margin-right: 10px;
    margin-left: 100px;*/
    margin-top: 80px;
}

.timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 600px;
    box-sizing: border-box;
} 
.timeline ul{
    margin: 0;
    padding: 0;
}
.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.content{
    padding-bottom: 20px;
}
.timeline ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: #c4b7cb;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #c4b7cb;
}
.timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: #b38d97;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #b38d97;
}
.timeline ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #966b9d;
}
.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
}
.timeline ul li:nth-child(odd) .time{
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #c4b7cb;
    color: #fff ;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #c4b7cb;
} 
.timeline ul li .time h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.timeline ul li:nth-child(even) .time{
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background:#c4b7cb;
    color: #fff ;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #c4b7cb;
} 

.portifolio{
    width: 700px;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-right:auto;
    margin-left: auto;
    color: #776780;
}
@media (max-width: 1129px) {
    .portifolio{
        max-width: 500px;
    }
}
.card-body{
    background-color: #b88ca7af;
}


footer{
    padding: 30px;
    background-color:#e0d2e0 ;
    margin-top: 60px;
    text-align: center;
}

.img-fluid{
    width: 200px;
    margin-top: 150px;
    margin-left: 400px;
}
