paleta{
    color:#ffd6ff;
    color:#e7c6ff;
    color:#c8b6ff;
    color:#b8c0ff;
    color:#bbd0ff;
}

body{
    background: #ffff;
    font-family: "Vesper Libre", serif;
}

.navbar-brand{
    margin-right: 43%;
    font-size: 20px;
}

.nav-item{
    margin-left: 10px;
    font-size: 15px;
}

.container-fluid{
    margin:0%;
}


.banner_titulo{
    font-size: 30px;
    /*margin-left: 700px;*/
    margin-top: 150px;
}

.avatar{
    width: 200px;
    margin-top: 70px;
    margin-left: 400px;
}

}
